.nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #333;
}
.nav a {
    padding: 10px 20px;
    background-color: aquamarine;
    border-radius: 5px;
    margin: 10px 10px;
    text-decoration: none;
    color: brown;
}
.nav a:hover {
    background-color: aqua;
    color: #a53a3a;
    box-shadow: 2px 2px 2px #a53a3a;
}

.show {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.target {
    font-size: 100px;
    font-weight: bold;
}
button.trigger {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background-color: beige;
}
#list ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
#list li {
    margin: 10px;
}
#list li {
    padding: 10px 20px;
    background-color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;

}

#list li:hover {
    background-color: aquamarine;
    cursor: pointer;
}
.panel {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.base {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.box {
    position: absolute;
    margin: auto;
    background-color: #fff;
    min-width: 300px;
    min-height: 300px;
    z-index: 1;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
#trigger-result:checked ~ .panel {
    display: flex;
}
.control {
    position: absolute;
    bottom: 10px;

}
.result-cancel {
    background-color: #ccc;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
}
.answer {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}
.correct{
    color: green;
}
.incorrect{
    color: red;
}

#continue {
    background-color: greenyellow;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    border: none;

}
#continue:hover {
    background-color: green;
}
.hidden {
    display: none;
}

#result-total{
    color: #666;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 10px;
}
#result-correct{
    color: green;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 10px;
}
#result-incorrect{
    color: #a53a3a;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 10px;
}