#layout_lesson {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

#layout_lesson > div {
    min-width: 300px;
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px 0;
    color: #333;
}

#layout_lesson > div#lesson_vocabulary {
    background-color: rgb(21, 250, 174);
}
div#lesson_vocabulary div:nth-child(odd) {
    background-color: rgb(8, 199, 135);
}
#layout_lesson > div#lesson_kanji_vocabulary {
    background-color: rgb(127, 255, 176);
}

#layout_lesson > div#lesson_grammar {
    background-color: rgb(127, 204, 255);
}

#lesson_vocabulary div:hover, #lesson_kanji_vocabulary div:hover, #lesson_grammar div:hover {
    opacity: 0.7;
}

#layout_lesson ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#layout_lesson ul li {
    display: flex;
    flex-direction: column;
}
#layout_lesson ul li > div {
    display: flex;
}

.word,.word1,.word2 {
    margin: 0;
    padding:0 ;
}
.mean {
    align-self: center;
}
.example {
    font-style: italic;
    font-size: 0.8rem;
    border-top: 1px dotted;
}

#layout_lesson ul li > div > div:nth-child(2) {
    margin: 10px 20px;
}

#layout_lesson ul li:nth-child(odd) {
    background-color: antiquewhite;
}

#layout_lesson ul li:nth-child(even) {
    background-color: rgb(245, 240, 233);
}
.type {
    align-self: center;
}

#check-container {
    text-align: center;
    padding: 10px;
}
#check-word {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
#check-hiragana,#check-katakana {
    font-size: 1rem;

}
#check-example {
    font-size: 0.7;
    font-style: italic;
    border-top: 1px dotted;
}

#write-show {
    border-radius: 5px;
    border: none;
    background-color: orange;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
}
#write-show:hover {
    opacity: 0.7;
}
#write-result {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 50px;
}
#type a:nth-child(1) {
    background-color: transparent;
}
#type img {
    width: 40px;
    height: 40px;
    
}
.nav {
    justify-content: center;
    align-items: center;
}
#list-show li {
    padding:20px;
    text-align: center;
}
#layout_lesson ul li > div {
    justify-items: center;
    text-align: center;
    justify-content: center;
}